{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <div class="container">
      <h1 class="page-title">Sample To Do Application</h1>
      <p class="subtitle">You can submit tasks from the following form.</p>
      <form class="card" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div>
          <label for="titleInput">Title</label><br>
          <input id="titleInput" name="title" type="text" placeholder="Input title">
        </div>
        <div>
          <label for="dueInput">Due at:</label><br>
          <input id="dueInput" name="due_at" type="datetime-local">
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>

      <div class="sort-links">
        <a href="{% url 'index' %}?order=due">Sort by Due Date</a> |
        <a href="{% url 'index' %}?order=post">Sort by Posted Date</a>
      </div>

      {% for task in tasks %}
      <div class="task-item">
        <h2><a class="task-title-link" href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
        <ul class="task-meta">
          <li>Posted at: {{ task.posted_at }}</li>
          {% if task.due_at %} 
          <li>Due at: {{ task.due_at }}</li>
          {% endif %}
          {% if task.completed %} 
          <li>Status: Completed</li>
          {% else %}
          <li>Status: Not Completed</li>
          {% endif %}
        </ul>
        <div class="task-actions">
          <a class="task-link-button" href="{% url 'detail' task.id %}">詳細を見る</a>
          <a class="task-link-button" href="{% url 'toggle' task.id %}">{% if task.completed %}未完了にする{% else %}完了にする{% endif %}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>

</html>
